<div class="background">

    <h1>Budget List</h1>


    <div class="backcolor">
        <form [formGroup]="formgroup" (ngSubmit)="submit(this.formgroup.value)">
            <div class="formgroup">
                <label>Select Month</label>
                <select name="month" class="form-control" placeholder="select month" formControlName="month">
                    <option value="jan">jan</option>
                    <option value="feb">Feb</option>
                    <option value="mar">Mar</option>
                    <option value="apr">Apr</option>
                    <option value="may">May</option>
                    <option value="jun">Jun</option>
                    <option value="july">July</option>
                    <option value="aug">Aug</option>
                    <option value="sep">Sep</option>
                    <option value="oct">Oct</option>
                    <option value="nov">Nov</option>
                    <option value="dec">Dec</option>
                </select>
            </div>
            <div class="form-group">
                <label>Location</label>
                <select name="location" id="location" class="form-control" placeholder="select Location"
                    formControlName="location" (change)="valueChanged($event)">
                    <option value="mdu">Mdu</option>
                    <option value="chennai">Chennai</option>
                    <option value="mum">Mumbai</option>

                </select>


            </div>



            <div class="form-group">
                <label for="home">Home rent</label>
                <input type="number" id="home" class="form-control" formControlName="home"
                    placeholder="Enter amount in rupees" [ngModel]="budget.home" required />
                <div class="help-block text-danger" *ngIf="home.touched">
                    <span *ngIf="home.errors?.required">
                        Home rent amount is REQUIRED!!!
                    </span>
                    <span *ngIf="home.invalid && home.touched">
                        home must not negative values!!!
                    </span>

                </div>
            </div>
            <div class="form-group">
                <label for="food">FOOD</label>
                <input type="number" id="food" class="form-control" [ngModel]="budget.food"
                    placeholder="Enter amount in rupees" formControlName="food" required />
                <div class="help-block text-danger" *ngIf="food.touched">
                    <span *ngIf="food.errors?.required">
                        Food value is REQUIRED!!!
                    </span>
                    <span *ngIf="food.invalid && food.touched">
                        food must not negative values!!!
                    </span>

                </div>

            </div>

            <div class="form-group">
                <label for="cloth">Cloth</label>
                <input type="number" id="cloth" class="form-control" [ngModel]="budget.cloth" formControlName="cloth"
                    placeholder="Enter amount in rupees" required />
                <div class="help-block text-danger" *ngIf="cloth.touched">
                    <span *ngIf="cloth.errors?.required"> cloth is REQUIRED!!! </span>
                    <span *ngIf="cloth.invalid && cloth.touched">
                        cloth must not negative values!!!
                    </span>

                </div>
            </div>

            <div class="form-group">
                <label for="eb_bill">EB-Bill</label>
                <input type="number" id="eb_bill" class="form-control" [ngModel]="budget.eb_bill"
                    placeholder="Enter amount in rupees" formControlName="eb_bill" required />
                <div class="help-block text-danger" *ngIf="eb_bill.touched">
                    <span *ngIf="eb_bill.errors?.required"> Eb-bill is REQUIRED!!! </span>
                    <span *ngIf="eb_bill.invalid && eb_bill.touched">
                        eb_bill must not negative values!!!
                    </span>

                </div>
            </div>

            <div class="form-group">
                <label for="education">Education</label>
                <input type="number" id="education" class="form-control" formControlName="education"
                    [ngModel]="budget.education" placeholder="Enter amount in rupees" />
                <div class="help-block text-danger" *ngIf="education.touched">
                    <span *ngIf="education.errors?.required">
                        Education amount is REQUIRED!!!
                    </span>
                    <span *ngIf="education.invalid && education.touched">
                        education must not negative values!!!
                    </span>

                </div>
            </div>

            <div class="form-group">
                <label for="EMI">EMI</label>
                <input type="number" id="EMI" class="form-control" formControlName="EMI" [ngModel]="budget.EMI"
                    placeholder="Enter amount in rupees" />
                <div class="help-block text-danger" *ngIf="EMI.touched">
                    <span *ngIf="EMI.errors?.required">
                        EMI Amount is REQUIRED!!!
                    </span>
                    <span *ngIf="EMI.invalid && EMI.touched">
                        EMI must not negative values!!!
                    </span>

                </div>
            </div>

            <div class="form-group">
                <label for="entertainment">Entertainment</label>
                <input type="number" id="entertainment" class="form-control" [ngModel]="budget.entertainment"
                    formControlName="entertainment" placeholder="Enter amount in rupees" />

                <div class="help-block text-danger" *ngIf="entertainment.touched">
                    <span *ngIf="entertainment.errors?.required">
                        Entertainment Field is REQUIRED!!!
                    </span>
                    <span *ngIf="entertainment.invalid && entertainment.touched">
                        entertainment must not negative values!!!
                    </span>

                </div>
            </div>
            <div class="form-group">
                <label for="transport">Auto-Transport</label>
                <input type="number" id="transport" class="form-control" formControlName="transport"
                    [ngModel]="budget.transport" placeholder="Enter amount in rupees" />

                <div class="help-block text-danger" *ngIf="transport.touched">
                    <span *ngIf="transport.errors?.required">
                        Auto-Transport is REQUIRED!!!
                    </span>
                    <span *ngIf="transport.invalid && transport.touched">
                        transport must not negative values!!!
                    </span>

                </div>
            </div>
            <div class="form-group">
                <label for="health">Health-Checkup</label>
                <input type="number" id="health" class="form-control" formControlName="health" [ngModel]="budget.health"
                    placeholder="Enter amount in rupees" />
                <div class="help-block text-danger" *ngIf="health.touched">
                    <span *ngIf="health.errors?.required">
                        Health Check up value is REQUIRED!!!
                    </span>
                    <span *ngIf="health.invalid && health.touched">
                        health amount must not negative values!!!
                    </span>

                </div>
            </div>


            <input type="readonly" class="form-control" formControlName="budgetall">

            <br>
            <hr />
            <button class="btn btn-primary"
                (click)="AddBudget(home.value,food.value,cloth.value,eb_bill.value,education.value,EMI.value,entertainment.value,transport.value,health.value)">
                Budget total </button>
            <a href="dashboard">Back To Dashboard </a>
        </form>

    </div>
</div>