.background{
background-image: url("../../images/budgetbackground.jpg");

}
h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
form {
    padding: 100px 150px;
    margin-bottom: 100px;
    border-radius: 10px;
    margin-left: 15%;
}
.form-group input {
    width: 600px;
}

#month,#location,#readonly{
    width:600px;
}
button{
    display:inline-block;
    justify-content: space-between;
    margin-left: 30px;
}
h2{
    font-size:34px;
    font-style: italic;
    margin-left:400px;
    margin-top:5px;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px grey;
  }  
  
label{
    color:black;
    font-size:18px;
    text-shadow: 1px 1px lightskyblue;


} 
::placeholder{
    color:grey;
    font-size:18px;
} 


    