<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                QUICK PLAN is an organisation wherec we create our budgets and Expense List monthwise which will enable
                us to provide a valuable feedback on our savings which in return helps in our future plans and goals.We
                provide a Safe and Secure system in which you can know the importance of budgeting and make it on your
                Own.
            </p>
            <div class="skills">
                <span>Budgeting application</span>
                <span>Finance Planner</span>
            </div>
        </div>
    </div>