<app-header></app-header>
<div class="about-section">
    <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
            QUICK PLAN is an organisation where you create your budgets and Expense List monthwise which will enable
            us to provide a valuable feedback on your savings difference amount which in return helps in our future
            plans and goals.We
            provide a Safe and Secure system in which you can know the importance of budgeting and make it on your
            Own.
        </p>
        <div class="skills">
            <span>Budgeting application</span>
            <span>Finance Planner</span>
        </div>
    </div>
</div>
<h1><span>About Our Leading Authorities</span></h1>
<ul class="cards">
    <li>
        <a href="#" class="card">
            <img src="../../images/about1.jpg" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                        <path />
                    </svg>
                    <img class="card__thumb" src="../../images/logo.png" alt="logo" />
                    <div class="card__header-text">
                        <h3 class="card__title">Jessica Parker</h3>
                        <span class="card__status">MD</span>
                    </div>
                </div>
                <p class="card__description"> Financial leadership is what we learned from our MD Jessica Parker who
                    involved full motive in the responsiblity of the organisation.
                </p>
            </div>
        </a>
    </li>
    <li>
        <a href="#" class="card">
            <img src="../../images/boss.jpg" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                        <path />
                    </svg>
                    <img class="card__thumb" src="../../images/logo.png" alt="logo" />
                    <div class="card__header-text">
                        <h3 class="card__title">kim Cattrall</h3>
                        <span class="card__status">CEO</span>
                    </div>
                </div>
                <p class="card__description"> The CEO of the company who is responsible for maintaining everything</p>
            </div>
        </a>
    </li>
    <li>
        <a href="" class="card">
            <img src="../../images/modify.jpg" class="card__image" alt="owner" />
            <div class="card__overlay">
                <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                        <path />
                    </svg>
                    <img class="card__thumb" src="../../images/logo.png" alt="logo" />
                    <div class="card__header-text">
                        <h3 class="card__title">Meera Rashiktha</h3>
                        <span class="card__status">Manager</span>
                    </div>
                </div>
                <p class="card__description">Finance budgets all are made done by people who make it responsible
                    to lead.Our Manager Meera Rashiktha made inspire to everyone of us</p>
            </div>
        </a>
    </li>
</ul>
<app-footer></app-footer>