<div class="pricing-table-title">
    <h2>Product List</h2>
</div>
<div class="pricing-table table">

    <div class="ptable-item">
        <div class="ptable-single">

            <div class="ptable-header">
                <div class="ptable-icon">
                    <i class="fa fa-home"></i>
                </div>
                <div class="ptable-title">
                    <h2>Silver</h2>
                </div>
                <div class="ptable-price">
                    <h2><span>Free</span></h2>
                </div>
            </div>

            <div class="ptable-body">
                <div class="ptable-description">
                    <ul>
                        <li>Create a budget </li>

                        <li>Manage your money </li>

                        <li> Create a customized budget</li>
                        <li> Manage your spending with<br> simplified budgeting</li>


                    </ul>
                </div>
            </div>

            <div class="ptable-footer">
                <div class="ptable-action">
                    <a href="dashboard"><i class="fa fa-shopping-cart"></i>Get Started</a>
                </div>
            </div>
        </div>
    </div>

    <div class="ptable-item featured-item">
        <div class="ptable-single">

            <div class="ptable-header">
                <div class="ptable-icon">
                    <i class="fa fa-star"></i>
                </div>
                <div class="ptable-title">
                    <h2>Gold</h2>
                </div>
                <div class="ptable-price">
                    <h2><small>Free</small><span></span></h2>
                </div>
            </div>

            <div class="ptable-body">
                <div class="ptable-description">
                    <ul>
                        <li> Create savings goals</li>
                        <li> Stay maximize your savings</li>
                        <li> Simplify the deductions
                        </li>

                        <li> See your profit & loss </li>
                        <li> Take control your budgets </li>

                    </ul>
                </div>
            </div>

            <div class="ptable-footer">
                <div class="ptable-action">
                    <a href="dashboard"><i class="fa fa-shopping-cart"></i>Get Started</a>
                </div>
            </div>
        </div>
    </div>

    <div class="ptable-item">
        <div class="ptable-single">

            <div class="ptable-header">
                <div class="ptable-icon">
                    <i class="fa fa-gift"></i>
                </div>
                <div class="ptable-title">
                    <h2>Platinum</h2>
                </div>
                <div class="ptable-price">
                    <h2><small> Free</small><span></span></h2>
                </div>
            </div>

            <div class="ptable-body">
                <div class="ptable-description">
                    <ul>
                        <li>Track your expenses</li>
                        <li>Manage money wisely</li>
                        <li>Safe and Secure</li>
                        <li>Plan your month</li>

                    </ul>
                </div>
            </div>

            <div class="ptable-footer">
                <div class="ptable-action">
                    <a href="dashboard"><i class="fa fa-shopping-cart"></i>Get Started</a>
                </div>
            </div>
        </div>
    </div>




</div>