<nav>
    <div><img src="https://thumbs.dreamstime.com/b/budget-icon-10488363.jpg" width="80px"></div>


    <div>
        <ul class="menu">
            <li><a href="">HOME</a>
                <ul class="sub-menu">
                    <li><a href="about">About Us</a></li>
                </ul>
            </li>




            <!-- <li>
                Budget
                <ul class="sub-menu">
                    <li>create a budget</li>
                    <li> View Budget</li>
                </ul>
            </li> -->
            <li><a href="blog">Blogs</a></li>
            <li><a href="products">Products</a></li>

            <li>
                <a href="register">Register/Login</a>
            </li>

            <li><a href="contact">Contact form</a></li>
            <!-- <li>ex</li> -->

        </ul>
    </div>
</nav>