<nav>
    <div><img src="https://thumbs.dreamstime.com/b/budget-icon-10488363.jpg" width="80px"></div>
    <!-- <li class="nav-item">
                        <a class="nav-link" href="about" routerLinkActive="active-link"> About</a>
                    </li> -->


    <div>
        <ul class="menu">
            <li><a href="">HOME</a></li>
            <li><a href="login">Login</a></li>


            <li>
                ADD user
                <ul class="sub-menu">
                    <li><a href="new-user">Add new user</a></li>
                </ul>

            <li>
                Budget
                <ul class="sub-menu">
                    <li>create a budget</li>
                    <li> View Budget</li>
                </ul>
            </li>

            <li>
                <a href="register">Register/Login</a>
            </li>

            <li>
                Contact Us
                <ul class="sub-menu">
                    <li><a href="contact">Contact form</a></li>
                    <li>ex</li>
                </ul>
            </li>

        </ul>
    </div>
</nav>