<nav>
    <h1>Quick plan</h1>

    <div>
        <ul class="menu">
            <li><a routerLink="">HOME</a></li>
            <li><a routerLink="about">About Us</a></li>
            <li><a routerLink="blog">Blogs</a></li>
            <li>
                <a routerLink="register">Register/Login</a>
            </li>
            <li>
                <a routerLink="dashboard">Dashboard</a>
            </li>
            <li><a routerLink="contact">Support Center</a></li>
        </ul>
    </div>
</nav>