
      * {
        margin: 0;
        padding: 0;
        list-style-type: none;
        box-sizing: border-box;
      }
      body {
        background-size: cover;
        min-height: 600px;
        font-family: 'Helvetica Neue', sans-serif;
      }
      .topnav {
        overflow: hidden;
        /* background-color: #333;
         */
         background-image: linear-gradient(to right top, #102779, #0a2e7d, #053482, #013b85, #004189, #1c438b, #2b448d, #37468f, #4e438e, #623e8c, #733987, #833381);
        
      }
      .topnav h1 {
        color: white;
        font-size: 30px;
        font-weight: 500;
      }
      
      .topnav a {
        float: left;
        margin-left: 100px;
        color: #f2f2f2;
        text-align: center;
        padding: 20px 18px;
        text-decoration: none;
        font-size: 17px;
        
        cursor: pointer;

      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
     .topnav, #logo{
        font-size:24px;
      }
      
      .topnav a.split {
        float: right;
	      background-color:  #e0ac1c;

        color: black;
      }
      

     