/* *{
    background-size: cover;;
}
.backcolor{
    background-image: linear-gradient(to left top, #bd7cc2, #a196e7, #76b0fe, #3dc8ff, #00dcff, #00d1ed, #00c7db, #00bcca, #2f94ac, #3e6e86, #3c4b5b, #2c2d30);
} */

.content{
    margin-top: 70px;
}