<main>
    <article>
        <div class="img-article">
            <img src="../../images/get started.JPG" alt="logo">
        </div>
        <section class="sign-up">
            <h1>Sign Up</h1>

            <form [formGroup]="checkoutform">
                <div class="form-group">
                    <label for="Name"> Name</label>
                    <input id="Name" type="text" class="form-control" formControlName="Name" placeholder=" Enter Name"
                        required />

                    <div class="help-block text-danger" *ngIf="Name.touched && Name.invalid">
                        <span *ngIf="Name.errors?.required">
                            Name is REQUIRED!!!
                        </span>
                        <span *ngIf="Name.errors?.minlength">
                            Name must be more than 4 Chars!!!
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username">User Name</label>

                    <input id="username" type="text" class="form-control" formControlName="username"
                        placeholder=" Enter username" required />

                    <div class="help-block text-danger" *ngIf="username.touched && username.invalid">
                        <span *ngIf="username.errors?.required">
                            username is REQUIRED!!!
                        </span>

                    </div>

                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" formControlName="email" placeholder="Email (required)"
                        required />
                    <div class="help-block text-danger" *ngIf="email.touched && email.invalid ">
                        <span *ngIf="email.errors?.required"> Email is REQUIRED!!! </span>
                        <span *ngIf="email.errors?.email"> Email is not valid !!! </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input [type]="inputType" id="password" class="form-control" formControlName="password"
                        placeholder="Enter Password" required />
                    <input (change)="showPassword($event)" type="checkbox" id="show">Show Password


                    <div class="help-block text-danger" *ngIf="password.touched && password.invalid">
                        <span *ngIf="password.errors?.required">
                            password is REQUIRED!!!
                        </span>
                        <span *ngIf="password.errors?.minlength">
                            password must be more than 4 Chars!!!
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="mobile">Mobile Number</label>
                    <input type="number" id="mobile" class="form-control" formControlName="mobile"
                        placeholder="Enter your phone number" required />

                    <div class="help-block text-danger" *ngIf="mobile.touched && mobile.invalid">
                        <span *ngIf="mobile.errors?.required">
                            mobile is REQUIRED!!!
                        </span>
                        <span *ngIf="mobile.errors?.maxlength">
                            mobile must be less than 10 Chars!!!
                        </span>
                    </div>
                </div>




                <button class="btn btn-success" type="submit" (click)="signup(this.checkoutform.value)">Sign Up</button>
                <button class="btn btn-primary" (click)="onReset()"> Reset</button>
                <div class="login">
                    <h2>Already Having an account? <a href="login">Login</a></h2>
                </div>


            </form>



        </section>
    </article>
</main>