<p>review works!</p>
<div id="mainCoantiner">
    <div class="margin-body">

        <div>
            <div class="starsec"></div>
            <div class="starthird"></div>
            <div class="starfourth"></div>
            <div class="starfifth"></div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <div class="title-h1 text-center"><span><span class="light">REVIEWS </span> </span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3 pricing-column-wrapper">
                <div class="pricing-column">
                    <div class="pricing-price-row">
                        <div class="pricing-price-wrapper">
                            <div class="pricing-price">
                                <div class="pricing-cost"><img
                                        src="https://dr5dymrsxhdzh.cloudfront.net/blog/images/a19e25d22/2018/11/smiling-businessman-at-office-picture-id825082848.jpg"
                                        alt="img">
                                </div>
                                <div class="time"></div>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-row-title">
                        <div class="pricing_row_title">Steve Harvey</div>
                    </div>
                    <figure class="pricing-row"><span style="color: white;">Money management made simpler by QUICK
                            PLAN</span></figure>
                    <figure class="pricing-row"><span style="color: white;">Without Quicken Financial planning is
                            difficult
                        </span></figure>
                    <figure class="pricing-row"><span style="color: white;">Planning our budget leads us to make our
                            future dreams come true as early as possible also by managing our debt.
                        </span></figure>

                    <div class="pricing-footer">
                        <div class="gem-button-container gem-button-position-center"><a href="budget"
                                class="gem-button gem-green">Make your Budget Now</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 pricing-column-wrapper">
                <div class="pricing-column">
                    <div class="pricing-price-row">
                        <div class="pricing-price-wrapper">
                            <div class="pricing-price">
                                <div class="pricing-cost">
                                    <img src="../../images/customer1.jpeg" alt="img">
                                </div>
                                <div class="time"></div>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-row-title">
                        <div class="pricing_row_title">RICHARD</div>
                    </div>
                    <figure class="pricing-row"><span style="color: white;"> Being conscientious about your finances
                            includes minimizing your expenses, so that they come in below your income. </span></figure>
                    <figure class="pricing-row"><span style="color: white;"> That’s the philosophy that the developers
                            behind Personal Capital have: Spend less than you earn every month </span></figure>
                    <div class="pricing-footer">
                        <div class="gem-button-container gem-button-position-center"><a class="gem-button gem-purpel"
                                href="expense">Make you own Expense list</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 pricing-column-wrapper">
                <div class="pricing-column">
                    <div class="pricing-price-row">
                        <div class="pricing-price-wrapper">
                            <div class="pricing-price">
                                <div class="time"><img src="../../images/customer.jpg" alt="img"></div>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-row-title">
                        <div class="pricing_row_title">Merry</div>
                    </div>
                    <figure class="pricing-row"><span style="color: white;">Budgeting helps me to paln my incoming and
                            expenses.</span></figure>
                    <figure class="pricing-row"><span style="color: white;">Can't manage my financial life without it.
                            So efficient with very few glitches</span></figure>
                    <figure class="pricing-row"><span style="color: white;"> Easy to
                            use for basic tracking or has the ability to
                            get very sophisticated if you desire.”</span></figure>
                    <div class="pricing-footer">
                        <div class="gem-button-container gem-button-position-center">
                            <a class="gem-button gem-orange">Get Started with QuickPlan</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 pricing-column-wrapper">
                <div class="pricing-column">
                    <div class="pricing-price-row">
                        <div class="pricing-price-wrapper">
                            <div class="pricing-price">
                                <div class="time" style="display:inline-block;"><img src="../../images/customer3.jpg"
                                        alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-row-title">
                        <div class="pricing_row_title"> MEERA</div>
                    </div>
                    <figure class="pricing-row"><span style="color: white;"> Smart Creating a budget is one of the best
                            ways to set yourself up for financial success.</span></figure>
                    <figure class="pricing-row"><span style="color: white;">Real-life budgeting is the foundation of
                            good money management </span></figure>
                    <figure class="pricing-row"> <span style="color: white;">Building toward financial freedom isn't
                            about luck.
                        </span></figure>
                    <div class="pricing-footer">
                        <div class="gem-button-container gem-button-position-center"><a class="gem-button gem-yellow"
                                href="budget">Cretae Your Own Budget Now</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="pricing-footer">
        <div class="gem-button-container gem-button-position-center"><a href="dashboard"
                class="gem-button gem-green">Back
                to Dashboard</a></div>
    </div>
</div>