<div style="text-align:center">
    <h1 class="xlarge-font"> EXPENSES</h1>
    <pre class="scrolling-text"> "Beware of Little expenses.A Small leak will sink a great Ship"- Benjamin Franklin"
        *** " It's through our expenses that we become richer or poorer, regardless of how much money we make." --
        Theophrastus

    </pre>
</div>

<div class="container">
    <div class="row">
        <div class="column-66">
            <h1 class="xlarge-font"><strong> Expenses</strong></h1>
            <h1 class="large-font" style="color:MediumSeaGreen;"><strong> Why we List it?</strong></h1>
            <p> An expense is a type of expenditure that
                flows through the income statement and is deducted from revenue to arrive at net income. Due to the
                accrual principle in accounting, expenses are recognized when they are incurred, not necessarily when
                they are paid for.
            </p>
        </div>
        <div class="column-first">
            <img src="../../images/expensenew.jpg" alt="img">
        </div>
    </div>
</div>

<div class="container" style="background-color:#f1f1f1">
    <div class="row">
        <div class="column-33">
            <img src="../../images/expense.jpeg" alt="App">
        </div>
        <div class="column-66">
            <h1 class="large-font"> Make Your personal expenses listed</h1>

            <p>The cost of personal or family living; "some personal expenses are tax
                deductible"
                disbursal, disbursement, expense - amounts paid for goods and services that may be currently tax
                deductible (as opposed to capital expenditures).</p>
            <button class="btn btn-primary" routerLink="/expense">Create Expense </button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="column-66">

            <h1 class="xlarge-font"> Expenditures</h1>
            <p><span style="font-size:36px">Make your Expenditurs less.</span> Personal expenditure is money that you
                spend. Expenditure can include living expenses (e.g. food, clothing, entertainment), accounts (e.g.
                water, electricity, telephone), fees (e.g. school fees), insurance (e.g. for a car or house), taxes and
                loan repayments (e.g. to pay off your store account).</p>
            <button class="button" routerLink="/expense">
                Make your Expenses List</button>
        </div>
        <div class="column-33">
            <img src="../../images/trail.jpg" alt="img">
        </div>
    </div>
    <div class="video-content">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Kt1L0_UO1co" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>