* {
    box-sizing:border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  h2{
      color:midnightblue;
      font-size:28px;
      margin-top:10px;
  }
  p{
    color:#102779;
    font-size:18px;
    line-height: 1.7;

  }
  .video-content{
      margin-left:40%;
  }
  .scrolling-text{
      margin-top:10px;
      
  }
  h3{
    color:#102779;
    font-size:22px;

  }

  
  .container {
    padding: 64px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both
  }
  .quote{
    color:#102779;
    font-size:18px;
    background-color:grey;
    width:120%;
    height:20%;
      
  }
  
  .column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
  }
  .column-first {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }
  
  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }
  .column33 img{
    width:"435";
     height:"571";
  }
  
  .large-font {
    font-size: 48px;
    line-height: 1.5;
    list-style: 1.2;
  }
  
  .xlarge-font {
    font-size: 64px;
    line-height: 2;

  }
  
  .button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #04AA6D;
  }
  
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  .flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  #dashboard{
    margin-left:30%;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-box-inner img{
    width:700px;
    margin-left:50%;
    height:260px;
    box-shadow: 2px solid grey;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    color: black;
  }
  
  .flip-box-back {
    color: white;
    transform: rotateY(180deg);
  }
  
  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
    img {
      margin: auto;
    }
  }
  