
body{
    overflow:hidden;
}
/* .float-parent-element { 
    width: 50%; 
} 
.float-child-element { 
    float: left; 
    width: 50%;
}  */
.left { 
    margin-left: 30%;
    /* margin-top:20px;  */
    height: 900px; 
} 
.left, h1{
    padding-left:30px;
}
/* .left, img{
    width:130%;
    margin-top:50px;
} */
img{
    width:50%;
    height:50%;
    /* filter: drop-shadow(5px 5px 5px #666666); */
    border:2px solid grey;
}

button{
    margin-left:20px;
    /* margin-top:600px; */
}

/*------------------trail---------*/
