<div class="img-section">
    <img src="https://www.quicken.com/sites/default/files/woman-budgeting-with-computer.jpg" alt="budget">
    <img src="../../images/plann.jpg" alt="budget">


    <div class="container">

        <div class="left">
            <h2> What is a budget?</h2>
            <h3> A budget is a plan you write down to decide how you will spend your money each month.

                A budget helps you make sure you will have enough money every month. Without a budget, you might run out
                of
                money
                before your next paycheck.

                A budget shows you:

                how much money you make
                how you spend your money</h3>

            <h2> Why do I want a budget?
            </h2>
            <h3> A budget helps you decide:

                what you must spend your money on
                if you can spend less money on some things and more money on other things </h3>

            <h2>what you must spend your money on</h2>

            <h3>if you can spend less money on some things and more money on other things
                For example, your budget might show that you spend $100 on clothes every month.
                You might decide you can spend $50 on clothes. You can use the rest of the money to pay bills or to save
                for
                something else.</h3>

            <h2> Why should I try to save money?</h2>
            <h3>You might need money for an emergency. You also might need to buy something more expensive, like a car.
                Saving
                money
                might help you buy a car, put a security deposit on an apartment, or pay for something else expensive.
            </h3>

            <audio controls>
                <source src="../../videos/Kristen_Money_MakingBudget_1.mp3" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
            <div class="budget-importance">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/_DC0cQEDi14"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="savings">
        <a href="budget-savings">Click To see How to Save Money</a>
    </div>
    <a href="budget">Create your Budget</a>