<h3>{{idvalue}}</h3>

<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus'></i>
            <span class="logo_name">QUICK PLAN</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#" class="active">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="budget">
                    <i class='bx bx-box'></i>
                    <span class="links_name">Budget Creation</span>

                </a>
            </li>
            <li>
                <a href="expense">
                    <i class='bx bx-coin-stack'></i>
                    <span class="links_name">Expense </span>
                </a>
            </li>


            <li>
                <a href="new-user">
                    <i class='bx bx-coin-stack'></i>
                    <span class="links_name">Blog</span>
                </a>
            </li>
            <li>
                <a href="reviews">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Reviews</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-message'></i>
                    <span class="links_name">FAQ on Budgeting</span>
                </a>
            </li>
            <li class="log_out">
                <a href="#">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <!-- <span class="dashboard">Dashboard</span> -->
                <span class="dashboard"> Welcome {{userId.name}}</span>
            </div>

            <div class="profile-details">
                <span class="admin_name">{{userId.email}}</span>
            </div>
            <div class="profile-details">
                <a href="">LOG OUT</a>


            </div>
        </nav>

        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Budget </div>
                        <a href="budget">Click to More Info</a>


                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class='bx bx-cart-alt cart'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Expense form</div>
                        <a href="expense">Click to More Info</a>

                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class='bx bxs-cart-add cart two'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">estimated difference</div>
                        <a href="difference">Click To See</a>

                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class='bx bx-cart cart three'></i>
                </div>

            </div>

            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">Budget List</div>
                    <div class="sales-details">
                        <ul class="details">

                        </ul>
                    </div>

                    <!-- <button type="submit" (click)="fetchBudgetDetails()">Budget View</button>
                    <button type="submit" (click)="fetchExpenseDetails()">Expense View</button> -->
                    <table class="table table">


                        <thead>
                            <tr>
                                <th scope="col">EMI</th>
                                <th scope="col">budgetall</th>
                                <th scope="col">cloth</th>
                                <th scope="col">eb_bill</th>
                                <th scope="col">education</th>
                                <th scope="col">entertainment</th>
                                <th scope="col">food</th>
                                <th scope="col">health</th>
                                <th scope="col">home</th>
                                <th scope="col">month</th>
                                <th scope="col">transport</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let budget of userBudget">
                                <td>{{budget.EMI}}</td>
                                <td>{{budget.budgetall}}</td>
                                <td>{{budget.cloth}}</td>
                                <td>{{budget.eb_bill}}</td>
                                <td>{{budget.education}}</td>
                                <td>{{budget.entertainment}}</td>
                                <td>{{budget.food}}</td>
                                <td>{{budget.health}}</td>
                                <td>{{budget.home}}</td>
                                <td>{{budget.month}}</td>
                                <td>{{budget.transport}}</td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="title"> Expenses List</div>

                    <table class="table table">


                        <thead>
                            <tr>
                                <th scope="col">cloth</th>
                                <th scope="col">EMI</th>

                                <th scope="col">eb_bill</th>
                                <th scope="col">education</th>
                                <th scope="col">entertainment</th>
                                <th scope="col">expenseall</th>
                                <th scope="col">food</th>
                                <th scope="col">health</th>
                                <th scope="col">home</th>
                                <th scope="col">month</th>
                                <th scope="col">transport</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let expense of userExpenseData">
                                <td>{{expense.cloth}}</td>
                                <td>{{expense.EMI}}</td>

                                <td>{{expense.eb_bill}}</td>
                                <td>{{expense.education}}</td>
                                <td>{{expense.entertainment}}</td>
                                <td>{{expense.expenseall}}</td>
                                <td>{{expense.food}}</td>
                                <td>{{expense.health}}</td>
                                <td>{{expense.home}}</td>
                                <td>{{expense.month}}</td>
                                <td>{{expense.transport}}</td>
                            </tr>

                        </tbody>
                    </table>
                    <!-- <div class="button">
                        <a href="#">See All</a>
                    </div> -->

                    <!-- <div class="top-sales box">
                    <div class="title">Top Reasons to choose QUICK PLAN</div>
                    <ul class="top-sales-details">
                        <li>
                            <a href="#">
                                <img src="../../images/pie.jpg" alt="">
                                <span class="product">Track all your spending in a single dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../images/rupee.jpg" alt="">
                                <span class="product">Create and manage spending categories that work for you</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../images/futureplan.jpg" alt="">
                                <span class="product">Today’s smart money management is tomorrow’s healthy financial
                                    future</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../images/safe.jpg" alt="">
                                <span class="product"> Safe and Secure </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> -->
                </div>
                <!-- </section> -->
                <!-- </body> -->