<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<body>
    <div class="sidebar">
        <div class="logo-details">
            <em class='fa fa-money'></em>
            <span class="logo_name">QUICK PLAN</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#" class="active">
                    <em class='fa fa-navicon'></em>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="/budget">

                    <em class='fa fa-bar-chart'></em>

                    <span class="links_name">Budget Form</span>

                </a>
            </li>
            <li>
                <a routerLink="/expense">
                    <em class='fa fa-bar-chart'></em>
                    <span class="links_name">Expense Form</span>
                </a>
            </li>


            <li>
                <a routerLink="/blog">
                    <em class='fa fa-building'></em>
                    <span class="links_name">Blog</span>
                </a>
            </li>
            <li>
                <a routerLink="/reviews">
                    <em class=" fa fa-comments"></em>
                    <span class="links_name">Reviews</span>
                </a>
            </li>
            <li>
                <a routerLink="/budget-savings">
                    <em class=" fa fa-comments"></em>
                    <span class="links_name">Savings Tips</span>
                </a>
            </li>


        </ul>

    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <em class='bx bx-menu sidebarBtn'></em>
                <em class="fa fa-user"></em>

                <span class="dashboard"> Welcome {{userId.name}}</span>
            </div>

            <div class="profile-details">
                <em class="fa fa-envelope"></em>

                <span class="admin_name">{{userId.email}}</span>
            </div>
            <div class="profile-details">
                <em class="fa fa-sign-out"></em>
                <button (click)="clear()" id="clear">LOG OUT</button>


            </div>
        </nav>

        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Budget </div>
                        <a routerLink="/new-user">Click to Info about Budget</a>


                        <div class="indicator">
                            <em class='bx bx-up-arrow-alt'></em>
                            <span class="text">More info</span>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Expense</div>
                        <a routerLink="/expense-detail">Click to Get info about Expense</a>


                        <div class="indicator">
                            <em class='bx bx-up-arrow-alt'></em>

                            <span class="text">More info</span>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Estimated Difference</div>
                        <a routerLink="/difference">Click To See Difference </a>

                        <div class="indicator">
                            <em class='bx bx-up-arrow-alt'></em>
                            <span class="text">More info</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">Budgets List</div>
                    <div class="sales-details">
                        <ul class="details">

                        </ul>
                    </div>


                    <table>
                        <caption></caption>

                        <thead>
                            <tr>
                                <th>Month </th>

                                <th>Home</th>
                                <th>Food</th>
                                <th>Cloth</th>
                                <th>EB_bill</th>
                                <th>Education</th>
                                <th>EMI</th>
                                <th>Entertainment</th>
                                <th>Transport</th>
                                <th>Health</th>
                                <th>Budget Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let budget of userBudget">
                                <td>{{budget.month}}</td>

                                <td>{{budget.home}}</td>
                                <td>{{budget.food}}</td>
                                <td>{{budget.cloth}}</td>
                                <td>{{budget.eb_bill}}</td>
                                <td>{{budget.education}}</td>
                                <td>{{budget.EMI}}</td>
                                <td>{{budget.entertainment}}</td>
                                <td>{{budget.transport}}</td>
                                <td>{{budget.health}}</td>
                                <td>{{budget.budgetall}}</td>

                            </tr>

                        </tbody>
                    </table>
                    <div class="title"> Expenses List</div>

                    <table>

                        <caption></caption>
                        <thead>
                            <tr>
                                <th>Month </th>

                                <th>Home</th>
                                <th>Food</th>
                                <th>Cloth</th>
                                <th>EB_bill</th>
                                <th>Education</th>
                                <th>EMI</th>
                                <th>Entertainment</th>
                                <th>Transport</th>
                                <th>Health</th>
                                <th>Expense Total </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let expense of userExpenseData">
                                <td>{{expense.month}}</td>

                                <td>{{expense.home}}</td>
                                <td>{{expense.food}}</td>

                                <td>{{expense.cloth}}</td>
                                <td>{{expense.eb_bill}}</td>
                                <td>{{expense.education}}</td>
                                <td>{{expense.EMI}}</td>
                                <td>{{expense.entertainment}}</td>
                                <td>{{expense.transport}}</td>
                                <td>{{expense.health}}</td>
                                <td>{{expense.expenseall}}</td>
                            </tr>

                        </tbody>
                    </table>
                    <img src="../../images/new.gif" width="60%" alt=" gif">


                    <div style="display: block">
                        <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels"
                            [colors]="chartColors" [options]="chartOptions" [legend]="true"
                            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>

                </div>