<div class="wrapper login">
    <div class="container">
        <div class="col-left">
            <div class="login-text">
                <h2>Welcome Back</h2>
                <p>Create your account.<br>It's totally free.</p>
                <a href="register" class="btn">Sign Up</a>
            </div>
        </div>

        <div class="col-right">
            <div class="login-form">
                <h2>Login</h2>
                <form [formGroup]="formgroup" (ngSubmit)="login(this.formgroup.value)">
                    <div class="form-group">


                        <label>Email address<span>*</span></label>
                        <input type="text" class="form-control" formControlName="email" required>
                        <div class="help-block text-danger" *ngIf="email.touched">
                            <span *ngIf="email.errors?.required"> Email is REQUIRED!!! </span>
                            <span *ngIf="email.errors?.email"> Email is invalid!!! </span>
                        </div>


                    </div>
                    <div class="form-group">



                        <label>Password<span>*</span></label>
                        <input type="password" placeholder="Password" class="form-control" formControlName="password"
                            required>
                        <div class="help-block text-danger" *ngIf="password.touched">
                            <span *ngIf="password.errors?.required"> Password is REQUIRED!!! </span>
                        </div>


                    </div>

                    <p>
                        <button class="btn btn-primary">login In</button>

                    </p>


                </form>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>