<div class="container">
    <div class="importance">
        <h1>Importance Of Financial Budgeting!!</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XYkwa1D1AC4" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <section class="savings-content">
        <header>
            <h2>How to Save Money: Easy and efficient Access Ways</h2>
        </header>

        <p> By setting up automatic transfers from your checking account to your savings account each month, the money
            will accumulate over time without any additional work on your part. This technique can be especially useful
            when your savings accounts are dedicated to specific goals, such as establishing an emergency fund, going on
            a vacation or building a down payment.</p>

        <p>You can also let apps like Digit or Qapital do some of the work for you. After you sign up, they'll transfer
            small amounts from your checking account to a separate savings account for you. That way, you don’t have to
            spend time or energy thinking about making a transfer. You can learn more about apps that automate savings
            and decide if they’re a good fit for you.</p>
        <h2>How else can I save money?
        </h2>
        <p>
            For one month, write down everything you spend. Small expenses, like a cup of coffee, can add up to a lot of
            money. When you know where you are spending your money, you can decide what you might not want to buy.
            Pay with your credit card only if you can pay the full amount when the bill comes. That way, you do not pay
            interest on what you owe.
            Consider opening a savings account in a bank or credit union. Read more about opening a bank account.
            If you keep cash at home, keep the money you are saving separate from your spending money. Keep all your
            cash someplace safe.
        </p>
        <h2>Count your coins and bills
        </h2>
        <p> Another option is saving your change manually by setting it aside each night. After you have a sizable
            amount, you can deposit it directly into your savings and watch your account grow from there. In fact, when
            you want to watch your spending, it’s a good idea to use cash instead of credit cards because it can be
            harder to part with physical money. While this strategy doesn’t build savings overnight, it's a solid
            approach for slow-and-steady savings growth.

        </p>
        <img src="../../images/budget-savings.jpg">
        <img src="../../images/budget-schedule.jpg">
        <h2>Bundle cable and internet</h2>
        <p>
            You could lower your cable bill by as much as $40 per month by changing your cable package. And you could
            save more than $1,000 over two years by bundling your cable and internet service, depending on your carrier.
            Another option to consider is cutting cable or at least cutting some of your additional streaming services
            or premium subscriptions
        </p>
        <div class="gif">
            <img src="../../images/saving.gif" alt="gif">
        </div>
        <h2> Track spending</h2>
        <p> Keep track of your monthly cash flow — your income minus your expenditures. This step will also make it
            easier to mark progress toward your savings goal. Try a budget app that tracks your spending.</p>
        <h2> Expenses Make Problem when Exceeds</h2>
        <p> An expense is the cost of operations that a company incurs to generate revenue. As the popular saying goes,
            “it costs money to make money.”The cost of personal or family living; "some personal expenses are tax
            deductible" disbursal, disbursement, expense - amounts paid for goods and services that may be currently tax
            deductible (as opposed to capital expenditures)</p>
        <img src="../../images/expenses.gif" alt="gif">
        <p>A lot of Expenses Make your Budgeted List to get Worse and lost the savings for future.An expense is the cost
            of operations that a company incurs to generate revenue.
            Businesses can write off tax-deductible expenses on their income tax returns, provided that they meet the
            IRS’ guidelines.
            Accountants record expenses through one of two accounting methods: cash basis or accrual basis.
        </p>
        <h2>Create a 50/30/20 budget</h2>
        <p> One smart way to manage your money — and hopefully hold on to more of it — is to follow a budget, which
            means setting priorities for your spending.

            At NerdWallet, we recommend the 50/30/20 budget for money management. This approach means devoting 50% of
            your after-tax income to necessities, 30% to wants and 20% to savings and any debt payments. If one of your
            allocations exceeds these percentages, you can make some adjustments elsewhere.

        </p>
        <img src="../../images/budget rule.jpg" alt="gif">
    </section>
</div>