<app-header></app-header>
<div class="intro">
    <img src="https://i.ytimg.com/vi/bMVY_j4YcM4/maxresdefault.jpg" alt="finance-pic">
    <h3><span>See your financial life all in one place</span></h3>

</div>


<div class="content ">
    <div class="discover">
        <h1>Get a clear picture on your spending vs. your income</h1>
        <p>Discover areas that may be opportunities to save
            Uncover regular expenses that may not be top of mind to create more accurate, achievable financial goals
        </p>
    </div>
    <img src="https://media.istockphoto.com/photos/businessman-plan-business-growth-and-financial-increase-of-positive-picture-id1361507082?b=1&k=20&m=1361507082&s=170667a&w=0&h=s2reDA9gednXcuvBW4piXkWHz2_ScYB3uObZQsYfhqI="
        alt="img">


</div>

<div class="content">
    <img src="../../images/sample.jpg" alt="img">
    <div class="spend">
        <h1> Manage your
            spending and save </h1>
        <p> Stay on top of your spending by tracking what’s left
            after the bills are paid. Make more informed money
            decisions by creating custom budgets you’ll stick to.</p>
    </div>
</div>
<div class="content">
    <div class="discover">
        <h1>Budgeting Helps You Find Financial Contentment</h1>
        <p>Financial contentment is one of the foundational elements of good financial behavior. It keeps you from
            spending
            money that you don’t have, and helps you to enjoy your financial journey.</p>
    </div>
    <img src="https://images.livemint.com/img/2021/02/01/1600x900/budget_(9)_1612195208222_1612195217168.jpg" alt="img">
</div>


<section class="feature">




    <h2> <span>Plan your Budgets with Fast and Clear vision</span></h2>

    <div class="row">
        <div class="feature-col">
            <h3>Why we Special</h3>
            <img src="../../images/plann.jpg" alt="img">
            <h4>Safe and Secure</h4>
            <p>-Budgeting is the process of creating a plan to spend your money. This spending plan is called a budget.
                Creating this spending plan allows you to determine in advance whether you will have enough money to do
                the things you need to do or would like to do.
            </p>
        </div>

        <div class="feature-col">
            <h3>Why we need to you</h3>
            <img src="../../images/budget-1.jpg" alt="img">
            <h4>Plan for Future</h4>



            <p>Creating a budget is one of the best ways to set yourself up for financial success.
                Try our free budget calculator to take control of your personal finances, say goodbye to overdraft fees,
                and start saving for the future.
            </p>
        </div>

        <div class="feature-col">
            <h3>What we offer</h3>
            <img src="../../images/monthy-plan.jpg" alt="img">
            <h4>Make your Budgets</h4>


            <p>-When life changes, your budget needs to keep up.
                This simple guide to changing your budget over time can help you navigate life’s financial changes.So we
                offer a complete step for you to make budget
            </p>
        </div>

    </div>
</section>
<section>
    <img src="../../images/road-map.jpg" width="50%" alt="img">

    <div class="video-content">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6Ib-bdko5cE" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <p>"A budget is a tool that tracks your spending and can help you save money.<br> Budgeting can help you put
            aside
            funds to reach both<br> short- and long-term financial goals, such as making a large purchase <br>like a
            home or
            a
            car or saving for college tuition or retirement"
            <br> - Luis richard
        </p>

    </div>
</section>
<app-footer></app-footer>