@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&family=Roboto+Slab:wght@300&display=swap');

.carousel-item {
  height: 25rem;
  background: #000;
}

.carousel-item img {
  opacity: 0.5;
}

* {
  /* margin: 0; */
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  
/*  */
}
body {
  /* background: url('https://images.unsplash.com/photo-1532210317995-cc56d90177d9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') center;  */
  background-size: cover;
  /* min-height: 600px; */
  font-family: 'Noticia Text', sans-serif;
  overflow: hidden;
}
 .right img{
   border-top-left-radius: 70px;
   border-bottom-left-radius: 70px;
   width:600px;
 }
 .content img{
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  width:600px;
}

.text-block {

  position: absolute;
  top: 400px;
  left:420px;
  /* right: 120px; */
  background-color: transparent;
  color:black;
  padding-left: 20px;
  padding-right: 20px;
}
.text-block, h4{
  font-size: larger;
}
.intro{
  /* margin-left: 16%; */
  /* padding: 35px; */
  font-size:50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
}
img{
  width:100%;
}
 p{
   padding: 25px;

  margin-left: 10px;
  font-size:28px;
}
span{
  margin-top:70px;
  color:#001778;
  text-shadow:2px 2px grey;
  margin-left:80px;
  padding:20px;
  font-size:64px;
}
h3{
  margin-top:60px;
  font-weight:bolder ;
}

.flip-box {
  background-color: transparent;
  margin-left:25px;
  width: 300px;
  height: 200px;
  
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}
.right{
  margin-top: 20px;
  margin-left:45%;
  font-size:20px;
  line-height: 32px;
}
/* .left{
  padding-top: 100px;
  margin-right:45%;
  margin-left:30px;
  font-size:20px;
  line-height: 32px;

} */
.feature{
  width:80%;
  margin:auto;
  text-align: center;
  padding-top: 100px;
}
.row{
  margin-top:5%;
  display:flex;
  justify-content: space-between;
}
.feature-col{
  flex-basis:31%;
  /* background:#fff3f3; */
  background:#e6e3f0;
  border-radius:10px;
  padding:20px 12px;
  box-sizing: border-box;
  margin-bottom:5%;
  

}
.feature img {
  width:300px;
  height:200px;
}
p{
  color:#777;
  font-size: 19px;
  font-weight: 300;
  line-height: 22px;
  padding:10px;
}
.content{
  display:flex;
}
.content p{
  font-size: 22px;
  margin-top:12px;

}
 .spend,
 .discover {
   margin-top: 100px;
   /* width: 600px */
 }
 .spend h1,
 .discover h1 {
   margin-left: 40px;
 }
 .spend p ,
 .discover p{
  margin-left: 30px;
  word-spacing: 10px;
  line-height: 1.5;
}
.review{
    background-image: linear-gradient(to right top, #102779, #0a2e7d, #053482, #013b85, #004189, #1c438b, #2b448d, #37468f, #4e438e, #623e8c, #733987, #833381);
}
.review h2{
  color:whitesmoke;
  margin-left:5%;
  margin-top: 40px;
  line-height: 3;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}
.review img{
  display:flex;
  width:20%;
  height:20%;
  margin-left:80%;
  margin-right:20%;
}
.checked {
  color: whitesmoke;
}
.fa{
  width:10px;
}




