<div class="intro">
    <img src="https://i.ytimg.com/vi/bMVY_j4YcM4/maxresdefault.jpg" alt="finance-pic">
    <h3><span>See your financial life all in one place</span></h3>

</div>


<div class="content ">
    <div class="discover">
        <h1>Get a clear picture on your spending vs. your income</h1>
        <p>Discover areas that may be opportunities to save
            Uncover regular expenses that may not be top of mind to create more accurate, achievable financial goals
        </p>
    </div>
    <img
        src="https://media.istockphoto.com/photos/businessman-plan-business-growth-and-financial-increase-of-positive-picture-id1361507082?b=1&k=20&m=1361507082&s=170667a&w=0&h=s2reDA9gednXcuvBW4piXkWHz2_ScYB3uObZQsYfhqI=">


</div>

<div class="content">
    <img src="../../images/sample.jpg">
    <div class="spend">
        <h1> Manage your
            spending and save </h1>
        <p> Stay on top of your spending by tracking what’s left
            after the bills are paid. Make more informed money
            decisions by creating custom budgets you’ll stick to.</p>
    </div>
</div>
<div class="content">
    <div class="discover">
        <h1>Budgeting Helps You Find Financial Contentment</h1>
        <p>Financial contentment is one of the foundational elements of good financial behavior. It keeps you from
            spending
            money that you don’t have, and helps you to enjoy your financial journey.</p>
    </div>
    <img src="https://images.livemint.com/img/2021/02/01/1600x900/budget_(9)_1612195208222_1612195217168.jpg">
</div>


<section class="feature">




    <h2> Plan your Budgets with fast and clear vision </h2>

    <div class="row">
        <div class="feature-col">
            <h3>Why we Special</h3>
            <img src="../../images/plann.jpg">
            <h4>Safe and Secure</h4>
            <p>-Royce makes some of the world's most luxurious cars. Known for producing hand-crafted automobiles that
                promise a seamless "magical carpet ride" for its customers, a -Royce car does not come cheap. These are
                some of the best-selling -Royce models, and these are their entry-level prices. But with virtually
                unlimited optional extras, upgrades, and customizations, the true cost of a bespoke -Royce has no
                limits. In fact, -Royce refuses to even discuss its base prices.
            </p>
        </div>

        <div class="feature-col">
            <h3>What we offer</h3>
            <img src="../../images/budget-1.jpg">
            <h4>Plan for Future</h4>



            <p>Creating a budget is one of the best ways to set yourself up for financial success.
                Try our free budget calculator to take control of your personal finances, say goodbye to overdraft fees,
                and start saving for the future.
            </p>
        </div>

        <div class="feature-col">
            <h3>What we offer</h3>
            <img src="../../images/monthy-plan.jpg">

            <p>-When life changes, your budget needs to keep up.
                This simple guide to changing your budget over time can help you navigate life’s financial changes.
            </p>
        </div>

    </div>
</section>
<section>
    <img src="../../images/road-map.jpg" width="50%">

    <div class="video-content">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6Ib-bdko5cE" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <p>"A budget is a tool that tracks your spending and can help you save money.<br> Budgeting can help you put
            aside
            funds to reach both<br> short- and long-term financial goals, such as making a large purchase <br>like a
            home or
            a
            car or saving for college tuition or retirement"
            <br> - Luis richard
        </p>

    </div>
</section>

<div class="animation-area">
    <ul class="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>