<div class="heading">
    <h1>Welcome!!!! Kindly Select the month to estimate the difference Amount</h1>
</div>

<div class="new">

    <video autoplay muted loop>
        <source src="../../videos/istockphoto-1127427283-640_adpp_is.mp4" type="video/mp4">
        <track label="english" kind="captions" srclang="en">

    </video>
</div>

<form [formGroup]="formgroup">
    <div class="content">
        <div class="formgroup">
            <label>Select Month</label>
            <select name="month" id="month" class="form-control" placeholder="select month" formControlName="month">
                <option value="Jan">Jan</option>
                <option value="Feb">Feb</option>
                <option value="Mar">Mar</option>
                <option value="Apr">Apr</option>
                <option value="May">May</option>
                <option value="Jun">Jun</option>
                <option value="July">July</option>
                <option value="Aug">Aug</option>
                <option value="Sep">Sep</option>
                <option value="Oct">Oct</option>
                <option value="Nov">Nov</option>
                <option value="Dec">Dec</option>
            </select>
        </div>
    </div>
    <button type="button" (click)="fetchRecords(this.formgroup.value)">
        <div class=submit>Submit</div>
    </button>


</form>
<h2>BUDGET Table</h2>
<div class="row">
    <div class="column">
        <table>
            <caption></caption>
            <tr>
                <th>Home</th>
                <th>Food</th>
                <th>Cloth</th>
                <th>EB_bill</th>
                <th>Education</th>
                <th>EMI</th>
                <th>Entertainment</th>
                <th>Transport</th>
                <th>Health</th>
                <th>Total Budget Amount</th>
                <th>Month</th>



            </tr>

            <tr *ngIf=" budgetDetails">
                <td>{{budgetDetails.home}}</td>
                <td>{{budgetDetails.food}}</td>
                <td>{{budgetDetails.cloth}}</td>
                <td>{{budgetDetails.eb_bill}}</td>
                <td>{{budgetDetails.education}}</td>
                <td>{{budgetDetails.EMI}}</td>
                <td>{{budgetDetails.entertainment}}</td>
                <td>{{budgetDetails.transport}}</td>
                <td>{{budgetDetails.health}}</td>
                <td>{{budgetDetails.budgetall}}</td>
                <td>{{budgetDetails.month}}</td>
            </tr>
            <tr *ngIf="budgetDetails.length == 0 ">

                <td>No records found</td>

            </tr>


        </table>
    </div>

    <div class="column">
        <h2>Expense Table</h2>

        <table>
            <caption></caption>
            <tr>
                <th>Home</th>
                <th>Food</th>
                <th>Cloth</th>
                <th>EB_bill</th>
                <th>Education</th>
                <th>EMI</th>
                <th>Entertainment</th>
                <th>Transport</th>
                <th>Health</th>
                <th>Total Expense Amount</th>
                <th>Month</th>

            </tr>
            <tr>
            <tr *ngIf="expenceDetails">

                <td>{{expenceDetails.home}}</td>

                <td>{{expenceDetails.food}}</td>
                <td>{{expenceDetails.cloth}}</td>
                <td>{{expenceDetails.eb_bill}}</td>
                <td>{{expenceDetails.education}}</td>
                <td>{{expenceDetails.EMI}}</td>
                <td>{{expenceDetails.entertainment}}</td>
                <td>{{expenceDetails.transport}}</td>
                <td>{{expenceDetails.health}}</td>
                <td>{{expenceDetails.expenseall}}</td>
                <td>{{expenceDetails.month}}</td>
            </tr>
            <tr *ngIf="expenceDetails.length == 0">
                <td>No records found</td>
            </tr>


        </table>
    </div>
    <div class="column">
        <h2>Difference Amount Table</h2>

        <table class="difference">
            <caption></caption>
            <tr>
                <th>Home</th>
                <th>Food</th>
                <th>Cloth</th>
                <th>EB_bill</th>
                <th>Education</th>
                <th>EMI</th>
                <th>Entertainment</th>
                <th>Transport</th>
                <th>Health</th>
                <th>Total Difference Amount</th>

            </tr>
            <tr *ngIf="expenceDetails && budgetDetails ">
                <td [style.color]="budgetDetails.home>expenceDetails.home? 'green': 'red'">

                    {{calculateDifference(budgetDetails.home,expenceDetails.home)}}
                </td>


                <td [style.color]="budgetDetails.food>expenceDetails.food? 'green': 'red'">

                    {{calculateDifference(budgetDetails.food,expenceDetails.food)}}
                </td>
                <td [style.color]="budgetDetails.cloth>expenceDetails.cloth? 'green': 'red'">
                    {{calculateDifference(budgetDetails.cloth,expenceDetails.cloth)}}</td>
                <td [style.color]="budgetDetails.eb_bill>expenceDetails.eb_bill? 'green': 'red'">
                    {{calculateDifference(budgetDetails.eb_bill,expenceDetails.eb_bill)}}</td>
                <td [style.color]="budgetDetails.education>expenceDetails.education? 'green': 'red'">
                    {{calculateDifference(budgetDetails.education,expenceDetails.education)}}</td>
                <td [style.color]="budgetDetails.EMI>expenceDetails.EMI? 'green': 'red'">
                    {{calculateDifference(budgetDetails.EMI,expenceDetails.EMI)}}</td>
                <td [style.color]="budgetDetails.entertainment>expenceDetails.entertainment? 'green': 'red'">
                    {{calculateDifference(budgetDetails.entertainment,expenceDetails.entertainment)}}</td>
                <td [style.color]="budgetDetails.transport>expenceDetails.transport? 'green': 'red'">
                    {{calculateDifference(budgetDetails.transport,expenceDetails.transport)}}</td>
                <td [style.color]="budgetDetails.health>expenceDetails.health? 'green': 'red'">
                    {{calculateDifference(budgetDetails.health,expenceDetails.health)}}</td>
                <td [style.color]="budgetDetails.budgetall>expenceDetails.expenseall? 'green': 'red'">
                    {{calculateDifference(budgetDetails.budgetall,expenceDetails.expenseall)}}</td>
            </tr>

            <tr *ngIf="expenceDetails.length && budgetDetails.length == 0 ">

                <td>No records found</td>

            </tr>

        </table>
    </div>
    <h4>Chart on Budget and Expense List</h4>
    <p>*IN Chart <span class="blue">BLUE</span> color indicates:Budget List</p>
    <p>*In Chart <span class="red">RED </span>color indicates :Expense List</p>

    <google-chart *ngIf="loadData" class="chart" [type]="myType" [data]="barData" [options]="options" [width]="1500"
        [height]="800">


    </google-chart>




    <div id="container">
        <div class="product-details">

            <h1>Saving Money</h1>

            <p class="information">" Do not save what is left after pending , but spend what is left after Saving "
                -
                Warren Buffet</p>
            <p>"Being in control of your finances is the greatest stress reliever"</p>
            <button class="btn btn-success" routerLink="/budget-savings">Saving Tips!!</button>
        </div>


        <div class="product-image">

            <img src="../../images/plann.jpg" alt="plan">


            <div class="info">
                <h2> Savings</h2>
                <ul>
                    <li><strong>Rules : </strong>30 /20 /50 Budget Rule </li>
                    <li><strong>Tips : </strong>Ways to Handle it</li>
                    <li><strong>Habits: </strong>Financial daily habits</li>
                    <li><strong>Importance: </strong>Savings Importance in life</li>

                </ul>
            </div>
        </div>

    </div>