<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="heading">
    <h1>Welcome!!!! Kindly Select the month to estimate the difference Amount</h1>
</div>

<div class="new">

    <video autoplay muted loop>
        <source src="../../videos/istockphoto-1127427283-640_adpp_is.mp4" type="video/mp4">
        <track label="english" kind="captions" srclang="en">

    </video>
</div>

<form [formGroup]="formgroup">
    <div class="content">
        <div class="formgroup">
            <label>Select Month</label>
            <select name="month" id="month" class="form-control" placeholder="select month" formControlName="month">
                <option value="jan">Jan</option>
                <option value="feb">Feb</option>
                <option value="mar">Mar</option>
                <option value="apr">Apr</option>
                <option value="may">May</option>
                <option value="jun">Jun</option>
                <option value="july">July</option>
                <option value="aug">Aug</option>
                <option value="sep">Sep</option>
                <option value="oct">Oct</option>
                <option value="nov">Nov</option>
                <option value="dec">Dec</option>
            </select>
        </div>
    </div>
    <button type="button" (click)="fetchBudgetExpence(this.formgroup.value)">
        <div class=h6>Submit</div>
    </button>


</form>
<h2>BUDGET Table</h2>
<div class="row">
    <div class="column">
        <table>
            <caption></caption>
            <tr>
                <th>Home</th>
                <th>Food</th>
                <th>Cloth</th>
                <th>EB_bill</th>
                <th>Education</th>
                <th>EMI</th>
                <th>Entertainment</th>
                <th>Transport</th>
                <th>Health</th>
                <th>Total Budget Amount</th>
                <th>Month</th>



            </tr>

            <tr *ngIf=" budgetDetails.length > 0">
                <td>{{budgetDetails[0].home}}</td>
                <td>{{budgetDetails[0].food}}</td>
                <td>{{budgetDetails[0].cloth}}</td>
                <td>{{budgetDetails[0].eb_bill}}</td>
                <td>{{budgetDetails[0].education}}</td>
                <td>{{budgetDetails[0].EMI}}</td>
                <td>{{budgetDetails[0].entertainment}}</td>
                <td>{{budgetDetails[0].transport}}</td>
                <td>{{budgetDetails[0].health}}</td>
                <td>{{budgetDetails[0].budgetall}}</td>
                <td>{{budgetDetails[0].month}}</td>
            </tr>
            <tr *ngIf="budgetDetails.length == 0 ">

                <td>No records found</td>

            </tr>


        </table>
    </div>

    <div class="column">
        <h2>Expense Table</h2>

        <table>
            <caption></caption>
            <tr>
                <th>Home</th>
                <th>Food</th>
                <th>Cloth</th>
                <th>EB_bill</th>
                <th>Education</th>
                <th>EMI</th>
                <th>Entertainment</th>
                <th>Transport</th>
                <th>Health</th>
                <th>Total Expense Amount</th>
                <th>Month</th>

            </tr>
            <tr>
            <tr *ngIf="expenceDetails.length > 0">

                <td>{{expenceDetails[0].home}}</td>

                <td>{{expenceDetails[0].food}}</td>
                <td>{{expenceDetails[0].cloth}}</td>
                <td>{{expenceDetails[0].eb_bill}}</td>
                <td>{{expenceDetails[0].education}}</td>
                <td>{{expenceDetails[0].EMI}}</td>
                <td>{{expenceDetails[0].entertainment}}</td>
                <td>{{expenceDetails[0].transport}}</td>
                <td>{{expenceDetails[0].health}}</td>
                <td>{{expenceDetails[0].expenseall}}</td>
                <td>{{expenceDetails[0].month}}</td>
            </tr>
            <tr *ngIf="expenceDetails.length == 0">
                <td>No records found</td>
            </tr>


        </table>
    </div>
    <div class="column">
        <h2>Difference Amount Table</h2>

        <table>
            <caption></caption>
            <tr>
                <th>Home</th>
                <th>Food</th>
                <th>Cloth</th>
                <th>EB_bill</th>
                <th>Education</th>
                <th>EMI</th>
                <th>Entertainment</th>
                <th>Transport</th>
                <th>Health</th>
                <th>Total Difference Amount</th>

            </tr>
            <tr *ngIf="expenceDetails.length > 0 && budgetDetails.length > 0">
                <td>{{calculateDifference(expenceDetails[0].home,budgetDetails[0].home)}}</td>

                <td> {{calculateDifference(expenceDetails[0].food,budgetDetails[0].food)}}</td>
                <td> {{calculateDifference(expenceDetails[0].cloth,budgetDetails[0].cloth)}}</td>
                <td>{{calculateDifference(expenceDetails[0].eb_bill,budgetDetails[0].eb_bill)}}</td>
                <td>{{calculateDifference(expenceDetails[0].education,budgetDetails[0].education)}}</td>
                <td>{{calculateDifference(expenceDetails[0].EMI,budgetDetails[0].EMI)}}</td>
                <td>{{calculateDifference(expenceDetails[0].entertainment,budgetDetails[0].entertainment)}}</td>
                <td>{{calculateDifference(expenceDetails[0].transport,budgetDetails[0].transport)}}</td>
                <td>{{calculateDifference(expenceDetails[0].health,budgetDetails[0].health)}}</td>
                <td>{{calculateDifference(expenceDetails[0].expenseall,budgetDetails[0].budgetall)}}</td>
            </tr>

            <tr *ngIf="expenceDetails.length && budgetDetails.length == 0 ">

                <td>No records found</td>

            </tr>

        </table>
    </div>


    <div id="container">
        <div class="product-details">

            <h1>Saving Money</h1>

            <p class="information">" Do not save what is left after pending , but spend what is left after Saving " -
                Warren Buffet</p>
            <p>"Being in control of your finances is the greatest stress reliever"</p>
            <button class="btn btn-success" routerLink="/budget-savings">Saving Tips!!</button>
        </div>


        <div class="product-image">

            <img src="../../images/plann.jpg" alt="">


            <div class="info">
                <h2> Savings</h2>
                <ul>
                    <li><strong>Rules : </strong>30 /20 /50 Budget Rule </li>
                    <li><strong>Tips : </strong>Ways to Handle it</li>
                    <li><strong>Habits: </strong>Financial daily habits</li>
                    <li><strong>Importance: </strong>Savings Importance in life</li>

                </ul>
            </div>
        </div>

    </div>