<div class="heading">
    <h1>Welcome!!!! Kindly Select the month to estimate the difference Amount</h1>
</div>

<div class="new">

    <video autoplay muted loop>
        <source src="../../videos/istockphoto-1127427283-640_adpp_is.mp4" type="video/mp4">

    </video>
</div>

<form [formGroup]="formgroup">
    <div class="content">
        <div class="formgroup">
            <label>Select Month</label>
            <select name="month" id="month" class="form-control" placeholder="select month" formControlName="month">
                <option value="jan">Jan</option>
                <option value="feb">Feb</option>
                <option value="mar">Mar</option>
                <option value="apr">Apr</option>
                <option value="may">May</option>
                <option value="jun">Jun</option>
                <option value="july">July</option>
                <option value="aug">Aug</option>
                <option value="sep">Sep</option>
                <option value="oct">Oct</option>
                <option value="nov">Nov</option>
                <option value="dec">Dec</option>
            </select>
        </div>
    </div>
    <button type="button" (click)="fetchBudgetExpence(this.formgroup.value)">Submit</button>


</form>
<!---->
<div class="row">
    <div class="column">
        <table>
            <caption></caption>
            <tr>
                <th>Home</th>
                <th>Food</th>
                <th>Cloth</th>
                <th>EB_bill</th>
                <th>Education</th>
                <th>EMI</th>
                <th>Entertainment</th>
                <th>Transport</th>
                <th>Health</th>
                <th>Total Budget Amount</th>
                <th>Month</th>



            </tr>

            <tr *ngIf=" budgetDetails.length > 0">
                <td>{{budgetDetails[0].home}}</td>
                <td>{{budgetDetails[0].food}}</td>
                <td>{{budgetDetails[0].cloth}}</td>
                <td>{{budgetDetails[0].eb_bill}}</td>
                <td>{{budgetDetails[0].education}}</td>
                <td>{{budgetDetails[0].EMI}}</td>
                <td>{{budgetDetails[0].entertainment}}</td>
                <td>{{budgetDetails[0].transport}}</td>
                <td>{{budgetDetails[0].health}}</td>
                <td>{{budgetDetails[0].budgetall}}</td>
                <td>{{budgetDetails[0].month}}</td>
            </tr>
            <tr *ngIf="budgetDetails.length == 0 ">
                No records found
            </tr>


        </table>
    </div>

    <div class="column">
        <table>
            <caption></caption>
            <tr>
                <th>Home</th>
                <th>Food</th>
                <th>Cloth</th>
                <th>EB_bill</th>
                <th>Education</th>
                <th>EMI</th>
                <th>Entertainment</th>
                <th>Transport</th>
                <th>Health</th>
                <th>Total Expense Amount</th>
                <th>Month</th>

            </tr>
            <tr *ngIf="expenceDetails.length > 0">
                <td>{{expenceDetails[0].home}}</td>

                <td>{{expenceDetails[0].food}}</td>
                <td>{{expenceDetails[0].cloth}}</td>
                <td>{{expenceDetails[0].eb_bill}}</td>
                <td>{{expenceDetails[0].education}}</td>
                <td>{{expenceDetails[0].EMI}}</td>
                <td>{{expenceDetails[0].entertainment}}</td>
                <td>{{expenceDetails[0].transport}}</td>
                <td>{{expenceDetails[0].health}}</td>
                <td>{{expenceDetails[0].expenseall}}</td>
                <td>{{expenceDetails[0].month}}</td>
            </tr>
            <tr *ngIf="expenceDetails.length == 0">
                No records found
            </tr>


        </table>
    </div>
    <h5 *ngIf="expenceDetails.length > 0 && budgetDetails.length > 0">
        Difference amount for Home is <span>{{calculateDifference(expenceDetails[0].home,budgetDetails[0].home)}}</span>
        <br>
        Difference amount for Food <span>{{calculateDifference(expenceDetails[0].food,budgetDetails[0].food)}}</span>
        <br>
        Difference amount Cloth <span>{{calculateDifference(expenceDetails[0].cloth,budgetDetails[0].cloth)}}</span>
        <br>
        Difference amount EB_BILL
        <span>{{calculateDifference(expenceDetails[0].eb_bill,budgetDetails[0].eb_bill)}}</span>

        <br>
        Difference amount Education
        <span>{{calculateDifference(expenceDetails[0].education,budgetDetails[0].education)}}</span>
        <br>
        Difference amount EMI <span>{{calculateDifference(expenceDetails[0].EMI,budgetDetails[0].EMI)}} </span><br>
        Difference amount Entertainment<span>
            {{calculateDifference(expenceDetails[0].entertainment,budgetDetails[0].entertainment)}}</span>
        <br>
        Difference amount Transport
        <span>{{calculateDifference(expenceDetails[0].transport,budgetDetails[0].transport)}}</span> <br>
        Difference amount Health <span>{{calculateDifference(expenceDetails[0].health,budgetDetails[0].health)}}</span>
        <br>
        Difference amount between TotalBUDGET and TotalExpense<span>
            {{calculateDifference(expenceDetails[0].expenseall,budgetDetails[0].budgetall)}} </span><br>
    </h5>

    <a href="budget-savings">Tips To Save Your MONEY!! -> Click </a>