body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  .header h2{
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  

  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  .fakeimg {
    /* background-color: #aaa; */
    
    width: 100%;
    padding: 20px;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    margin: 20px 0px;
    width: 900px;
    margin-left: 250px;
  }
  .card h2,
  h1 {
    color: midnightblue;
  }
  .card h5,
  p {
    color: #102779;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(221, 221, 221);
    margin-top: 20px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .home{
    background-image: linear-gradient(to right top, #102779, #0a2e7d, #053482, #013b85, #004189, #1c438b, #2b448d, #37468f, #4e438e, #623e8c, #733987, #833381);
    color:whitesmoke;
    text-decoration: none;
    font-size: 20px;
    margin-left: 50%;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }
  