<app-header></app-header>

<div class="header">
    <h2> Quick Plan Blogs </h2>
</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>Why You need to save Money</h2>
            <h5>Find your age in the list below to see the average balance that your age have in their
                401k retirement savings. If you want to know how you're doing on your retirement plan compared to your
                peers, checking the average 401k retirement account balance is a good start.

                Mar 7, 2022</h5>
            <div class="fakeimg">
                <img src="../../images/blog1.jpg" alt="blog">
            </div>
            <p>The Average 401k Balance by Age — Are You Saving Enough?</p>
            <a href="https://www.idfcfirstbank.com/finfirst-blogs/savings-account/importance-of-having-savings">Click
                for more info </a>

        </div>
        <div class="card">
            <h2>See Your Spendings</h2>
            <h5>Creating a budget helps you to save money, Sep 2, 2022</h5>
            <div class="fakeimg">
                <img src="../../images/blog2.gif" alt="blog2">
            </div>
            <p><a href="https://www.sbilife.co.in/en/individual-life-insurance/savings-plans">click to see full
                    Detail</a>
            </p>
        </div>
    </div>

    <div class="card">
        <h2>See Your Spendings</h2>
        <h5>Creating a budget helps you to save money, Sep 2, 2022</h5>
        <div class="fakeimg">
            <img src="../../images/chart.jpg" width="90%" alt="chart">

        </div>
        <p><a href="https://www.sbilife.co.in/en/individual-life-insurance/savings-plans">click to see full
                Detail</a>
        </p>
    </div>
</div>
<div class="table-difference">
    <h1>Budgeting with Income and Expense Amount</h1>
    <p>Using this estimation for month we can find where we spend a lot</p>
</div>

<table>
    <caption></caption>
    <tr>
        <th>Name</th>

        <th>Budget</th>
        <th>Expense</th>
        <th>Income</th>
        <th>Savings</th>
    </tr>
    <tr>
        <td>Jill</td>

        <td>15,000</td>
        <td>12,000</td>
        <td>20,000</td>
        <td>8,000</td>
    </tr>
    <tr>
        <td>Adam</td>

        <td>12,000</td>
        <td>12,000</td>
        <td>18,000</td>
        <td>6,000</td>
    </tr>
    <tr>
        <td>Jessy</td>

        <td>25,000</td>
        <td>27,000</td>
        <td>30,000</td>
        <td>3,000</td>
    </tr>
</table>
<button class="btn btn-primary" routerLink="">Home</button>
<app-footer></app-footer>