*{
    margin: 0;
padding: 0;
font-family: "montserrat",sans-serif;
}

.bg-image {
    background-image: url('../../images/support.JPG');
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%; 
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.contact-section{
padding: 40px 0;
background: url('../../images/support.JPG') no-repeat center;
background-size: cover;
opacity: 0.9;

}
form{
    margin-left:390px;
    width:520px;
    background-color: transparent;
}
span{
    color:black;
    text-shadow:2px 2px grey;
    margin-left:80px;
}
h1{
    color:black;
    font-size:30px;
    margin-left:400px;
    text-shadow:2px 2px grey;

}

#contact-section h1{
text-align: center;
color: #ddd;
}


#contact-form{
max-width: 300px;
margin: auto;
padding: 0 10px;
overflow: hidden;
background: none;
}

#contact-form-text{
display: block;
width: 100%;
box-sizing: border-box;
margin: 16px 0;
border:none;
border: 1px solid #ccc;
background: none;
padding: 20px 40px;
outline: none;
color:black;
transition: 0.5s;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#contact-form-text:focus{
box-shadow: 0 0 10px 4px #34495e;

 background: black;
color: #262626;
font-size: 14px;
}
textarea.contact-form-text{
resize: none;
height: 120px;

}
::placeholder{
    color:blue;
}

.contact-form-btn{
margin-left:10px;
border: 0;
background:black;
color: #fff;
padding: 12px 50px;
border-radius: 20px;
cursor: pointer;
transition: 0.5s;
}
.contact-form-btn:hover{
background:black ;
}